html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  height: 100%;
  width: 100%;
  background: url("/assets/images/sfeerbeeld-1.webp") center/cover no-repeat fixed;
}
.navbar {
  background-color: #62438A;
}
.navbar-brand img {
  height: 45px;
  width: 45px;
}
.nav-link {
  color: #a166c0
}
.nav-link:hover {
  color: #492051;
}
.dropdown-menu {
  background-color: #62438A;
  border: none;
}
.dropdown-item {
  color: #ffffff;
}
.dropdown-item:hover {
  background-color: #843471;
  color: #ffffff;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.nav-item.dropdown:hover > .nav-link {
  color: #492051;
}
.card.custom-bg {
  background-color: #62438A;   
  color: #ffffff;              
  border: none;                
}
.card img {
  height: 250px;     
  object-fit: cover;     
  width: 100%;           
}
.card .btn {
  background-color: #492051;     
  color: #ffffff;                
  border: none;
}
.form-button {
  background-color: #62438A;
  border: 2px solid #a166c0;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;  
}
footer {
  background-color: #62438A;
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  bottom: 0%;
  width:auto;
}
footer a i {
  color: #a166c0;
}
footer a i:hover {
  color: #492051;
}
